@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

@import url(Variables.css);

    body {
        height: 5300px;
        background-color: var(--beige);
        margin: 0px;
    }

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 55px;
        background-color: var(--rouge);
        z-index: 1001;
    }

    header a {
        text-decoration: none;
        color: var(--blanc);    
    }
    .headtxt a {
        text-decoration: none;
        color: var(--blanc);    
    }

    .apropos {
        position: absolute;
        display: flex;
        left: 100px;
        margin-top: -35px;
        z-index: 1;
        color: var(--blanc);
    }

    .glossaire {
        position: absolute;
        display: flex;
        left: 225px;
        margin-top: -35px;
        z-index: 10;
        color: var(--blanc);
    }

    .open-closed {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        left: 350px;
      }
      
      .menu-open {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 85%;
      }

      .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.92;
        z-index: 1000;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      }
      
      .menu ul {
        list-style: none;
        padding: 0;
        margin: 25% 0 0 0;
        text-align: center;
      }
      .menu ul li {
        margin-bottom: 20px;
      }
      .menu ul li a {
        color: white;
        font-size: 24px;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
      }
      .menu ul li a:hover {
        color: var(--marron); 
      }
      .menu[x-show] {
        display: block;
      }
      .noscroll {
        overflow: hidden;
      }
    
      .close-icon {
        position: absolute;
        cursor: pointer;
        z-index: 1100;
        top: 20px;
        left: 85%;
    }
    
    .close-icon img {
        width: 30px;
        height: 30px;
    }

    header img {
        position: relative;
        width: 55px;
        height: 55px;
        display: flex;
    }

    .landing div {
        position: absolute;
        width: 100%;
        height: 229px;
        top: 55px;
        background-color: black;
        opacity: 0.7;
       }

    .landing div p {
        position: relative;
        display: flex;
        justify-content: center;
        top: 6px;
        z-index: 1000;
        color: var(--blanc);
    }

    .landing .head {
        position: absolute;
        width: 100%;
        height: 229px;
        top: 55px;
       }

    .landing h1 {
        position: relative;
        display: flex;
        justify-content: center;
        top: 50px;
        z-index: 1000;
        color: var(--blanc);
    }

    .intro {
        position: relative;
        width: 339px;
        height: 345px;
        border-radius: 21px;
        background-color: var(--marron);
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        padding-top: 24px;
        display: flex;
        margin: auto;
        margin-top: 297px;
    }

    .illustration {
        position: absolute;
        width: 100%;
        height: 292px;
        top: 771px;

    }

    section h1 {
        position: relative;
        width: 280px;
        top: 446px;
        margin: auto;
    }

    .article1 {
        position: relative;
        width: 329px;
        height: 674px;
        top: 520px;
        margin: auto;
        background-color: var(--marron);
    }

    .article1 h2 {
        width: 268px;
        padding-top: 15px;
        margin: auto;
    }

    .article1 img {
        position: relative;
        width: 295px;
        height: 121px;
        display: flex;
        margin: auto;
        padding-top: 43px;
        padding-bottom: 43px;
        z-index: 2;
    }

    .rectanlge1 {
        position: absolute;
        width: 306px;
        height: 183px;
        top: 1313px;
        display: flex;
        margin: auto;
        background-color: black;
        z-index: 1;
    }

    .article1 p {
        width: 293px;
        margin: auto;
    }

    .article2 {
        position: relative;
        width: 329px;
        height: 685px;
        top: 500px;
        margin: auto;
        margin-top: 110px;
        background-color: var(--marron);
    }

    .article2 h2 {
        width: 268px;
        padding-top: 15px;
        margin: auto;
    }

    .article2 img {
        position: relative;
        width: 295px;
        height: 173px;
        display: flex;
        margin: auto;
        padding-top: 43px;
        padding-bottom: 43px;
        z-index: 2;
    }

    .rectanlge2 {
        position: absolute;
        width: 306px;
        height: 183px;
        top: 2107px;
        display: flex;
        margin: auto;
        background-color: black;
        z-index: 1;
    }

    .article2 p {
        width: 293px;
        margin: auto;
    }

    .article3 {
        position: relative;
        width: 329px;
        height: 703px;
        top: 590px;
        margin: auto;
        background-color: var(--marron);
    }

    .article3 h2 {
        width: 268px;
        padding-top: 15px;
        margin: auto;
    }

    .article3 img {
        position: relative;
        width: 295px;
        height: 173px;
        display: flex;
        margin: auto;
        padding-top: 43px;
        padding-bottom: 43px;
        z-index: 2;
    }

    .rectanlge3 {
        position: absolute;
        width: 306px;
        height: 183px;
        top: 2107px;
        display: flex;
        margin: auto;
        background-color: black;
        z-index: 1;
    }

    .article3 p {
        width: 293px;
        margin: auto;
    }

    .article4 {
        position: relative;
        width: 329px;
        height: 703px;
        top: 675px;
        margin: auto;
        background-color: var(--marron);
    }

    .article4 h2 {
        width: 268px;
        padding-top: 15px;
        margin: auto;
    }

    .article4 img {
        position: relative;
        width: 295px;
        height: 173px;
        display: flex;
        margin: auto;
        padding-top: 43px;
        padding-bottom: 20px;
        z-index: 2;
    }

    .rectanlge4 {
        position: absolute;
        width: 306px;
        height: 183px;
        top: 3654px;
        display: flex;
        margin: auto;
        background-color: black;
        z-index: 1;
    }

    .article4 p {
        width: 293px;
        margin: auto;
    }

    .article5 {
        position: relative;
        width: 329px;
        height: 703px;
        top: 760px;
        margin: auto;
        background-color: var(--marron);
    }

    .article5 h2 {
        width: 268px;
        padding-top: 15px;
        margin: auto;
    }

    .article5 img {
        position: relative;
        width: 295px;
        height: 173px;
        display: flex;
        margin: auto;
        padding-top: 43px;
        padding-bottom: 43px;
        z-index: 2;
    }

    .rectanlge5 {
        position: absolute;
        width: 306px;
        height: 183px;
        top: 3654px;
        display: flex;
        margin: auto;
        background-color: black;
        z-index: 1;
    }

    .article5 p {
        width: 293px;
        margin: auto;
    }

    footer {
        position: absolute;
        width: 100%;
        height: 439px;
        top: 5307px;
        background-color: var(--noir);
    }

    footer .menu {
        position: relative;
        height: 18px;
        top: 90px;
        margin-left: 33px;
        color: var(--gris);
    }

    .suivre {
        position: absolute;
        height: 18px;
        top: 330px;
        margin-left: 33px;
        color: var(--gris);
    }

    .logofooter {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 30px;
        left: 30px;
    }

    .social-icons {
        position: absolute;
        top: 370px;
        left: 33px;
    }

    .articleli li {
        position: relative;
        top: 85px;
        padding: 5px;
        color: var(--blanc);
        list-style: none;
    }

    .utils li {
        position: relative;
        top: 80px;
        float: left;
        padding: 10px;
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: var(--blanc);    
    }