:root {
    --police: rgba(33, 31, 26, 1);
    --rouge: rgba(116, 44, 32, 1);
    --beige: rgba(240, 223, 161, 1);
    --marron: rgba(115, 104, 65, 1);
    --noir: rgba(0, 0, 0, 1);
    --blanc: rgba(250, 250, 250, 1);
    --gris: rgb(83, 83, 83);
}